<h1>Shearry L. Malone</h1>

<div id="image">
  <%= image_tag("profilepic.jpg", :alt => "my selfie", :size => "250x300") %>
</div>

<div id="page-wrap">
  <div style="width:10px;height:580px;background-color:red;float:right;margin-bottom: -600px;"></div>

  <p>My name is Shearry Malone and I love coding!</p>
  <p>I'm originally from Athens, Georgia but after almost 13 years of living in Nashville, TN I consider myself a native and feel right at home. I'm a recent graduate of Nashville's newest software program offered at The Nashville Software School. When I'm not learning new code and techiques, I enjoy the eclectic artsy side of the city. I love discovering new eateries and trying them out, as well as the local bars and pubs. I look forward to starting my new career as a developer and pressing my thumbprint onto the world of technology. Follow me on Twitter (@smalone28) and on Facebook. <br> Cheers!</p>
</div>

<hr>

<div id="footer">
  COPYRIGHT @ SHEARRY MALONE 2013 | GET IN TOUCH | GET SOCIAL
</div>
